.body{
    margin:0;
   }
   .my-port-folio{
    min-width:auto;
   }
   .header{
    position:fixed;
    display:flex;
    background-color: #ce5230;
    color:white;
    width:100%;
    align-items:center;
    padding:30px 0;
    z-index:10;
   }
   .header-left{
    padding-left:20px;
    width:30%;
    font-family:"Comic Sans MS";
   }
   .top-img{
    width:500px;
    padding-top:150px;
   }
   .header-right{
    display:flex;
    justify-content: flex-end;
    width:70%;
    gap:10px;
    padding-right: 20px;
}
a{
    color: white;
    text-decoration: none;
    font-family: "Noto Sans JP";
}